ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pst_rel {
  position: relative;
}

p {
  margin: 0;
  padding: 0;
}

.absolute_at_horizon_center {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.absolute_at_center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

body {
  font-family: Verdana;
  font-size: 16px;
  margin: 0;
}
body .header {
  width: 100%;
  text-align: center;
  background-color: white;
}
body .header_inner_box {
  width: 1180px;
  height: 120px;
  margin: 0 auto;
}
body .header_inner_box ul, body .header_inner_box li, body .header_inner_box .logo_text {
  display: inline-block;
}
body .header_inner_box .utilty_bar {
  position: absolute;
  right: 30px;
  top: 20px;
}
body .header_inner_box .utilty_bar > li {
  padding: 0 10px;
}
body .header_inner_box .utilty_bar > li a {
  font-size: 12px;
  text-decoration: none;
  color: black;
}
body .header_inner_box .utilty_bar > li a:hover {
  cursor: pointer;
  color: red;
}
body .header_inner_box .logo_text {
  position: absolute;
  left: 10px;
  bottom: 15px;
  margin: 0;
}
body .header_inner_box .global_navigation_bar {
  position: absolute;
  right: 0;
  bottom: 15px;
}
body .header_inner_box .global_navigation_bar > li {
  padding: 0 40px;
  color: black;
  font-weight: bold;
}
body .header_inner_box a {
  text-decoration: none;
  color: inherit;
}
body .header_inner_box a:hover {
  cursor: pointer;
  color: red;
}
body .header {
  position: fixed;
  top: 0;
  border-bottom: 1.5px solid black;
  z-index: 2;
}
body .section {
  width: 1000px;
  margin: 0 auto;
  margin-top: 121.5px;
  overflow: hidden;
}
body .section article {
  float: left;
  margin: 5px;
}
body .section img {
  display: block;
}
body .section p {
  position: absolute;
  padding: 0;
}
body .section {
  color: white;
  font-weight: bold;
}
body .section .article1 {
  margin-top: 0;
  margin-left: 0;
}
body .section .article1 p {
  right: 10px;
  bottom: 10px;
  font-size: 30px;
}
body .section .article2 {
  margin-top: 0;
  margin-right: 0;
}
body .section .article2 p {
  top: 50px;
  left: 10px;
  font-size: 25px;
}
body .section .article3-1, body .section .article3-2 {
  margin-right: 0;
}
body .section .article3-1 p {
  right: 10px;
  bottom: 20px;
}
body .section .article4 {
  width: 490px;
  height: 490px;
  float: left;
  overflow: hidden;
  margin: 5px 5px 5px 0;
}
body .section .article4 .article4-1, body .section .article4 .article4-2 {
  margin: 0 0 10px 0;
}
body .section .article4 .article4-1 p {
  width: 300px;
  color: black;
  top: 160px;
}
body .section .article4 .article4-2 p {
  right: 20px;
  bottom: 30px;
  font-size: 30px;
  color: gold;
}
body .section .article5 {
  margin-right: 0;
}
body .section .article6 {
  margin: 5px 0 5px 0;
}
body .section .article6 p {
  width: 1000px;
  height: 70px;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
}
body .section .article7 {
  margin: 5px 0 0 0;
}
body .section .article7 p {
  width: 450px;
  height: 150px;
  right: 30px;
  bottom: 40px;
  font-size: 20px;
  font-weight: normal;
}
body .section .article7 p > span {
  font-size: 30px;
  font-weight: bold;
}/*# sourceMappingURL=gallary_main_scss.css.map */